@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Ubuntu&family=Varela+Round&display=swap');
body{
    background-color: rgb(247, 216, 216);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
    
}

nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 70px;
    background-color: black;
    color: white;
}


nav ul li{
    padding: 0 12px;
}   
    
.brand img{
    width: 60px;
    padding: 0 5px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem; 
}

.container{
    display: flex;
    min-height: 61vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    width: 70%;
    margin: 20px auto;
    padding: 34px;
    border-radius: 12px;
    background-image: url('bg1.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom{
    position:sticky;
    display: flex;
    height: 110px;
    background-color: black;
    color:white;
    bottom: 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}

#myprogressbar{
    width: 80vw;
    text-align: center;
    cursor: pointer;
}

.songitem{
    display: flex;
    height: 43px;
    background-color: white;
    color: #000000;
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}

.songitem img{
    width: 43px;
    margin: 0 20px;
    border-radius: 25px;
}

.timestamp{
    margin: 0 10px;
}

.timestanp i{
    cursor: pointer;
}

.songinfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif; 
}

.songinfo img{
    opacity:0;
    transition: opacity 0.3s ease-in;
}

